@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500;9..40,700&display=swap");

:root {
  /* Primitive Tokens */
  --color-black: hsl(253, 69%, 8%);
  --color-white: hsl(0, 0%, 100%);
  --color-gray-light: hsl(0, 0%, 80%);
  --color-gray: hsl(0, 0%, 50%);
  --color-gray-dark: hsl(0, 0%, 20%);
  --ff-sans: "DM sans", sans-serif;
  --font-size-1: 1rem;
  --font-weight-700: 700;
  --space-15: 1.5rem;
  --space-075: 0.75rem;

  /* Sementic Tokens */
  --color-fg: var(--color-white);
  --color-bg: var(--color-gray-dark);
  --font-size-base: var(--font-size-1);
  --font-weight-bold: var(--font-weight-700);
  --space-m: var(--space-15);
  --space-xs: var(--space-075);
}
