.movie {
  flex: 0 0 9rem;
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: var(--color-gray-dark);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  scroll-snap-align: start;
}

.movie__list {
  max-width: 1200px;
  margin: 2rem auto;
  grid-template-columns: 1fr;
}

.movie:hover {
  transform: scale(1.05);
}


.movie__image {
  width: 100%;
  height: auto;
  aspect-ratio: 2 / 3;
  object-fit: cover;
  border-radius: 0.25rem;
}

.movie__image--missing {
  background-color: var(--color-gray);
  display: block;
}

.movie__title {
  margin: 0;
  font-size: 1rem;
  font-weight: 700;
  color: var(--color-fg);
  line-height: 1.2;
}

