<div class="form">
    <h2 class="form__title">Ajouter / Modifier un profil</h2>
    <form method="POST" class="add-profile__form" onsubmit="event.preventDefault(); {{handler}}()">
        <select class="form__select" name="id" onchange="{{handlerSelect}}(this)">
            <option value="">— Nouveau profil —</option>
            {{options}}
        </select>
        <input class="form__input" type="text" name="name" placeholder="Nom du profil" required />
        <input class="form__input" type="text" name="image" placeholder="Nom de l'image (facultatif)" />
        <input class="form__input" type="number" name="restriction_age" placeholder="Âge minimum" required />
        <button class="form__submit" type="submit">Valider</button>
    </form>
</div>
