.grid-context {
  display: grid;
}

.gap-m {
  gap: var(--space-m);
}

.flex-context {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.gap-xs {
  gap: var(--space-xs);
}

.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-center {
  justify-content: center;
  align-items: center;
}
